body {
    background-color: rgb(20, 20, 20);
}

.base-box {
    border: 2px solid rgb(75, 75, 75);
    width: 100%;
    box-sizing: border-box;
}

.base-item {
    width: 200px;
    height: 70px;
    box-sizing: border-box;
    font-size: 20px;
    font-family: sans-serif;
}

.base-item:nth-child(even) {
    background-color: #fff !important;
    color: #3e3e3e;
}

.base-item:nth-child(odd) {
    background-color: rgb(88, 88, 88) !important;
    color: #fff;
}

.box {
    display: flex;
}

/* flex-direction */
/* .box{
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    flex-direction: row;
    flex-direction: row-reverse;
} */

/* justify-content */
/* .box{
    display: flex;
    justify-content: center;
    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: space-around;
    justify-content: space-between;
    justify-content: space-evenly;
} */

/* align-items */
/* .box{
    display: flex;
    height: 200px;
    align-items: center;
    align-items: flex-start;
    align-items: flex-end;
} */

/* flex flex-grow flex-shrink flex basic */

.item-1 {}

.item-2 {}

.item-3 {}

.item-4 {}

.item-5 {}